<!doctype html>
<html>

<head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title is-4 chatroom">Chatroom</h1>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <ul id="active-users">
                    
                </ul>
            </div>
        </div>
    </nav>
    <section class="message-view">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="sidebar">
                    <div class="container">
                        <ul id="notif">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column message-writer">
                <div class="box">
                    <ul id="messages">

                    </ul>
                </div>
            </div>
        </div>
    </section>
<form action="" id="message">
    <div class="writer">
            <input type="text" class="input" autocomplete="off" id="message-field">
            <button class="button is-link" id="sendButton">Send</button>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="js/script.js"></script>

</body>

</html>